html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    overflow-x: hidden;
    padding:0;
    margin:0;
}

header{
    background-color: #1f1b1b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header .datos-p{
    color:#ffffff;
    margin: 3vh 5vw ;
    font-size: 1.5rem;
}
header h1{
    color: #ffffff;
    margin: 2vh 4vw;
}

aside{
    background-color: #1f1b1b;
    height: 100%;
    width: 20%;
} 
aside nav{
    /* width: 15%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
}
aside  a{
    display: block;
    text-decoration: none;
    /* color:#ffffff; */
    margin:2vh;
}
aside a:not(.item-p){
    margin: 2vh 50px;
    color:#949494;
}
.item-p{
    margin: 5vh 20px;
    color:#ffffff;
}
.contenido{
    display:flex;
    flex-direction: row;
}
.contenido table{
    height: 45%;
    width:95%;
    margin:3rem auto;
    border-spacing: 0;
}
.contenido table tr{
    margin: 0;
    padding: 0;
}
.contenido table td{
    border:1px solid #000000;
    width: 30%;
    margin:3px;
    text-align: center;
}

.encabezado {
    background-color: #59f54b;
    color: #ffffff;
    width: 85%;
}

.encabezado3{
    background-color: #54e74f;
    color: #ffffff;
    width: 90%;
}

.encabezado1 {
    background-color: #55bccc;
    color: #ffffff;
    width: 85%;
}
.cont {
    display:flex;
    flex-direction: column;
}

.formu-fecha{
    width:50%;
    margin:0 30px;
}

.formu-fecha > input[type="date"]{
    width: 50%;
    height: 2rem;
}

.formu-fecha > input[type="submit"]{
    background-color: #55bccc;
    color:#ffffff;
    width: 4rem;
    height:2rem;
    border:none;
    outline: 0;
    cursor:pointer;
}
.tabla3 td {
    padding: 40px;
}
/* #mycanvas{
    width: 20%;
    height: 20%;
    /* padding: 70px; */
/* }
.chartjs-render-monitor{
    width: 700px;
    height: 700px;
} */ 





