html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    overflow-x: hidden;
    padding:0;
    margin:0;
}

header{
    background-color: #1f1b1b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header .datos-p{
    color:#ffffff;
    margin: 3vh 5vw ;
    font-size: 1.5rem;
}
header h1{
    color: #ffffff;
    margin: 2vh 4vw;
}

aside{
    background-color: #1f1b1b;
    height: 100%;
    width: 25%;
} 
aside nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
}
aside  a{
    display: block;
    text-decoration: none;
    /* color:#ffffff; */
    margin:2vh;
}
aside a:not(.item-p){
    margin: 2vh 50px;
    color:#949494;
}
.item-p{
    margin: 5vh 20px;
    color:#ffffff;
}

